!!! 5
html(lang="en")
  head
    link(rel="stylesheet/less", href="/css/app.less", type="text/css")
    script(src="/js/less-1.3.3.min.js")
  body
    header
      .container-fluid
        .row-fluid
          .span12
            h1 Blog
    article
